@charset "UTF-8";
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  nav#page .container {
    width: 100%;
    padding: 0px 30px;
  }
}
.sidenav#nav-mobile .text {
  padding: 0px 32px;
}

.item img.image {
  width: 100%;
}
.item .name, .item .price {
  display: block;
  font-weight: bold;
}
.item .name {
  font-size: 1.25rem;
  color: black;
}
.item .price {
  font-size: 1.5rem;
}
.item .price s {
  font-size: 1rem;
  font-weight: normal;
  color: #a0a0a0;
}
.item .rating {
  letter-spacing: 2px;
}
.item .rating::before {
  color: #ffa421;
  text-shadow: -1px -1px #ffa421, 0px -1px #ffa421, 1px -1px #ffa421, -1px 0px #ffa421, 1px 0px #ffa421, -1px 1px #ffa421, 0px 1px #ffa421, 1px 1px #ffa421;
}
.item .rating::after {
  color: white;
  text-shadow: -1px -1px #219bff, 0px -1px #219bff, 1px -1px #219bff, -1px 0px #219bff, 1px 0px #219bff, -1px 1px #219bff, 0px 1px #219bff, 1px 1px #219bff;
}
.item .rating.rate-3::before {
  content: "★★★";
}
.item .rating.rate-3::after {
  content: "★★";
}
.item .btn {
  margin: 10px 0px;
  display: block;
}

.map-header {
  margin: 3rem 0px 2rem;
}

.google-map {
  height: 500px;
}

@media only screen and (min-width: 601px) {
  .subscribe .subscribe-button {
    margin-top: 25px;
  }
}
.page-footer .nav-links {
  min-height: 170px;
}
.page-footer .nav-links a {
  color: #eeeeee;
}

.page-footer .contact {
  font-size: 1.25rem;
  line-height: 2em;
}
.page-footer .contact a {
  color: white;
  margin-left: 10px;
}

.collection a.collection-item:not(.active):hover {
  color: white;
  background-color: #4fc3f7;
}

.slider .indicators .indicator-item.active {
  background-color: #4fc3f7;
}
